/* src/components/Direccion.css */
.direccion-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .link-to-home {
    display: block;
    margin-bottom: 20px;
  }
  
  .logo {
    margin-top: 20px;
  }
  
  .direccion-title {
    text-transform: uppercase;
  }
  
  .direccion-text {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .google-maps-link {
    color: #007bff;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
  }
  