/* src/components/Horarios.css */
.horarios-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .link-to-home {
    display: block;
    margin-bottom: 20px;
  }
  
  .logo {
    margin-top: 20px;
  }
  
  .horarios-title {
    text-transform: uppercase;
  }
  
  .horarios-text {
    font-size: 18px;
    margin-top: 10px;
  }
  