/* Estilos para enlaces activos y hover */
.active-link,
.active-link:hover {
  color: #ff6600;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}

/* Estilos para el contenedor principal */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 20px;
}

/* Estilos para el logo */
.logo {
  margin-bottom: 20px;
}

.logo img {
  width: 200px;
  height: auto;
  border-radius: 20px;
}

/* Estilos para el título */
.title {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Estilos para el botón */
button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
