/* Estilos para el contenedor principal */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea el contenido a la izquierda */
  padding: 40px 20px; /* Agrega más espacio arriba y abajo */
}

/* Estilos para el logo */
.logo {
  margin-bottom: 20px; /* Ajusta el espacio entre el logo y el título según tus necesidades */
}

.logo img {
  width: 200px;
  height: auto;
  border-radius: 20px;
}

/* Estilos para el título */
.title {
  font-size: 24px;
  margin-bottom: 10px; /* Menos espacio entre el título y las imágenes */
}

/* Estilos para el botón */
button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
