/* Estilos para el contenedor principal */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 40px 20px; /* Ajusta el padding según tus necesidades */
}

/* Estilos para el título */
.title {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Estilos para el contenedor de imágenes */
.photo-container {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin-top: 20px;
}

/* Estilos para cada columna de imágenes */
.column {
  width: 23%; /* Ajusta el ancho de la columna según tus necesidades */
}

/* Estilos para cada imagen */
.photo-item {
  width: 100%;
  margin: 10px 0;
}

/* Estilos para las imágenes en sí */
.photo {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.photo:hover {
  transform: scale(1.2);
}

/* Estilos para el espacio entre el h1 y las fotos */
.spacer {
  margin-bottom: 20px;
}
